uvicorn
fastapi
requests
pydantic
pydantic[email]
python-dotenv
httpx
websockets

numpy<2.0
yfinance
optuna
tqdm

pymongo
passlib
bcrypt==4.0.1

newspaper3k
lxml_html_clean
deep-translator
beautifulsoup4
google-genai
feedparser

pytest-cov
